@font-face{
    font-family: 'ZodiarkLight';
    src: url('assets/fonts/ZodiarkLight.otf');
}

@font-face{
    font-family: 'ZodiarkRegular';
    src: url('assets/fonts/ZodiarkRegular.otf');
}

@font-face{
    font-family: 'ZodiarkSem';
    src: url('assets/fonts/ZodiarkSem.ttf');
}

@font-face{
    font-family: 'ZodiarkBold';
    src: url('assets/fonts/ZodiarkBold.otf');
}
