//Colors

$white: #ffffff;
$black: #000000;

$lightGray: #4a4a4a;
$mediumGray: #454544;
$modulesGray: #3f3f3f;

$iconsGray: #959595;
$activeButtons: #d5d5d5;
$inactiveButtons: #838383;


//Z-Index

$firstLevel: 999990; //navBar
$secondLevel: 999980;
$thirdLevel: 999970;
$fourthLevel: 999960;