@import 'components/app-actions/app-actions';

nav{
    &.navbar{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: block;
        margin: 0;
        width: 100%;
        height: 40px;
        max-height: 40px;
        font-size: 15px;
        line-height: 15px;
        -webkit-app-region: drag; //Allows electronjs to drag the main window
        z-index: $firstLevel;
        ul{
            display: inline-block;
            li{
                list-style: none;
                display: inline-block;
                &:first-child{
                    float: left;
                    position: relative;
                    top: -6px;
                    margin-right: 8px;
                    img{
                        width: 37px;
                    }
                }
                &:nth-child(2){
                    margin-right: 30px;
                    font-size: 0.96rem;
                    font-family: $fontRegular;
                }
            }
        }
        
        //SCSS FOR COMPONENT THEMES
        
        &.theme-vulcano{
            background: $mediumGray;
            color: $white;
        }
        &.theme-chrome{
        }
        &.theme-sky{
        }
        &.theme-zodiark{
        }
        &.theme-sea{
        }

    }
}